*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-size: 75%;
  width: auto;
}
.container {
  width: 90%;
}
div {
  float: left;
  margin: 1% 0;
  width: 100%;
  height: 500px;
  background-size: cover;
}

div .preview-baku {
  background-image: url("images/baku.jpg");
}
div .preview-london {
  background-image: url("images/london.png");
}
div .preview-madrid {
  background-image: url("images/madrid.jpg");
}
div .preview-rome {
  background-image: url("images/rome.jpg");
}

h1 {
  font-size: 5em;
}

@media screen and (min-width: 60em){
   div {
    margin: 1%;
    width: 48%;
  }
}
@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 48%;
  }
}
